doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        meta(name="google-site-verification" content="OGFnTgfAZdpfN79-zOH32aoOIH-ep3Gn6QEhza76vCc")
        
        title= title || 'My Keystone Website'
        link(rel="stylesheet", href="styles/style.css")
        link(rel="stylesheet", href="https://use.typekit.net/gcw2mon.css")
        //script(src="siema.min.js")
        //script(src="app.js")

        
        block css
        block head
    body.clear       
        main
            
            block intro
            
            //+flash-messages(messages)
            
            block content
    
    block js